Bonjour,

Merci Maxime quesnel pour votre commande !
<br/>

<strong>En cas d'annulation cliquer sur le lien ci-dessous (vous avez 3h pour annuler avant confirmation de la
  commande)</strong>


<span><%= link_to "Annuler la commande", user_registration_url(id: @user_id) %></span>


<br/>

Merci