<h1 class="text-center mt-5">Here is your cart with your items</h1>

<div class="d-flex flex-column align-items-center">
  <% @tab.each do |product| %>
    <div class="card mb-3" style="max-width: 90%;">
      <div class="row g-0">
        <div class="col-md-4">
          <img style="height: 180px" src="<%= product[0].image_url %>" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><%= product[0].title %></h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <button class="btn btn-danger">Delete</button>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <%= link_to "Procced to payment", buy_index_path, method: :post, class: 'btn btn-primary btn-lg mt-5 mb-5' %>
</div>
